doctype html
html(lang='en')
  head
    title Neo_Lin_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Neo Lin
        p.eyecatch-subtitle System Adminisrator 
        p.eyecatch-description
          | Efficient and skilled in managed complex systems environment with a diverse knowledge of IT Infratructure technologies, 
          | I have been a System Administator for 15 years. 
          | I have garnered a multitude experiences in the field of Server-side/storage-side/switch-side, automation programming, 
          | best pracitice tunning , complex systems integration, optimize performance, infractructure/application monitoring and others.
          | I am also familiar with Infrastructure & DevOps tools such as Ansible, VMware, AWS, CircleCI, GitHub and Docker.
      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Mandarin, English
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +956-28x-5xx
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email lalientw@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Taipei, Taiwan
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Trend Micro, Inc. (Taiwan) 
              span.u-each-period 2015.08 ~ Current
            p.u-each-subtitle Staff Engineer 
            p.work-each-description
              | I solve various kind of technical problems as an independent consultant.
              ul
                li AWS managemnet (EC2, RDS, ElastiCache, ECS, Lambda, CloudFront, CloudWatch, etc.)
                li React + Almin
                li Improve React Native app working flow using Fastlane
                li Create React Native tutorial for Programming education company
                li Consult business strategy for startups

          .work-each
            p.u-each-title
              span.u-each-organization Hitachi Asia (Taiwan) Co., Ltd. 
              span.u-each-period 2008.08 ~ 2015.08
            p.u-each-subtitle Account Manager
            p.work-each-description
              | I work on broadening the scale of our web application (https://www.in-fra.jp).
              | When I first joined the company, the application was a little outdated in both infrastructure and code,
              | so our major task is refactoring the program.
              | I've decreased application's TTFB by 2000ms.
              ul
                li Replace jQuery with Vue.js
                li Refactor Laravel source code
                li Create iOS App with React Native
                li Change the infrastructure from Heroku to AWS EC2
                li Improve deployment process using Ansible on CircleCI
                li Implement easy setup development environment Docker
                li Visualize business KPI with Metabase
                li SQL tuning

          .work-each
            p.u-each-title
              span.u-each-organization Synchronous Communication Corp.
              span.u-each-period 2004.04 ~ 2008.08
            p.u-each-subtitle System Engineer
            p.work-each-description
              | I worked in sales first half a year.
              | In the sales department, I made appointments with new customers, and secured contracts with them.
              | Then I moved to the engineering department, where I conducted maintenance on internal systems.
              ul
                li Sale of Human Resource solutions
                li Create new functions with FuelPHP
                li Build systems
                li Fix bugs and prevent system degradation

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              p.u-each-title
                span.u-each-organization Takming University of Science and Technology
                span.u-each-period 2007.09 ~ 2009.9
              p.u-each-subtitle Bachelor's Degree in Mathematics
                ul
                  li Programming
                  li Linear Algebra, Calculus
                  li Statistics

            .education

            .education-each
              p.u-each-title
                span.u-each-organization Chienkuo Technology University
                span.u-each-period 1995.09 ~ 2000.09
              p.u-each-subtitle Bachelor's Degree in Mathematics
                ul
                  li Programming
                  li Linear Algebra, Calculus
                  li Statistics

          .education
            h2.u-section-title Certifications
            ul
              li VMware Certified Professional 5
              li Red Hat Certified Engineer
              li Hitachi Data System Storage Foundations - Modular
              li Cisco Certified Network Associate

          .education
            h2.u-section-title Training and Courses
            ul
              li
                span.oss-title Virtualzation
                p.oss-description - VMware vSphere: Optimize and Scale [V6.5]
                p.oss-description - VMware vSphere: Troubshooting Workshop
                p.oss-description - VMware vSphere: Design and Deploy Fast Track [V6]
                p.oss-description - VMWare vCould Director: Install, Configure, Manage [V5.1]
                p.oss-description - VMWare vSphere: Install, Configure, Manage [V5.1]
              li
                span.oss-title System Administration
                p.oss-description - Red Hat High Availability Clustering (RH436)
                p.oss-description - Red Hat System Administrator I/II/III (RH124/RH134/RH254)
              li
                span.oss-title Storage
                p.oss-description - NetApp Implement VMware vSphere on Data ONTAP
                p.oss-description - NetApp Clustered Data ONTAP Administrator and ONTAP Data Protection
                p.oss-description - Transitioning to Hitachi Virtual Storage Platform G1000 and Command Suit v8.x
                p.oss-description - Managing Storage Performance with Hitachi Tuning Manager Software V6
              li
                span.oss-title Server
                p.oss-description - Installing Configuring and Managing Hitachi Computer Blade 500 and 2000

          .education
            h2.u-section-title Skills
            ul
              li Opercation System - Linux (15 years), Windows (12 years), vSphere ESXi (8 years), macOS (2 years)
              li Programming - Linux Shell Script (15 years), PowerCLI (5years), PHP/HTML/CSS/JavaScript (2 years), Python (1 years)
              li Database - MySQL (4 years), MS SQL (2 years)
              li Tools - AWS, Azure, CircleCI, GitHub, Docker (Container) (2 years)

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/neollin
    .footer

    script(src='bundle.js')
