doctype html
html(lang='en')
  head
    title Neo_Lin_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Neo Lin
        p.eyecatch-subtitle Senior Solution Architect 
        p.eyecatch-description
          | Efficient and skilled in managed complex systems environment with a diverse knowledge of IT Infrastructure technologies. I have been a System Administrator for more than 15 years.
          | There are garnered a multitude experiences in the field of traditional datacenter architectures, include bare-metal server dedicated server, hypervisor, external storage, L2/L3 switches, virtualization environment, automation programming, optimize and tuning performance, monitoring software and infrastructure, complex systems integration, private cloud, disaster recovery and others.
          | Then I currently focused on technical field of public clouds, especially GCP, AWS, cloud migration, multi cloud and hybrid cloud solutions(Anthos). Also familiar with Linux, VMware, Ansible, Terraform, Docker, Kubernetes and DevOps, e.g. Jenkins, GitHub, Gitlab and others.
      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Mandarin, English
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +956-287-xxx
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email lalientw@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Taipei, Taiwan
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization CloudMile Inc. (Taiwan) 
              span.u-each-period 2019.03 ~ Current
            p.u-each-subtitle Senior Solution Architect
            p.work-each-description
              | I joined a Cloud Architect (CA) department and responsible for enables organizations to leverage Google Cloud technologies to drive business objectives. Take advantage of the open source technologies pioneered by Google—including Kubernetes, Istio, and Knative — Anthos solution, enables consistency between on-premises and cloud environments and helps accelerate application development, , then modern application platform for your business.
              ul
                li Design and plan a cloud solution architecture, include security and compliance
                li Analyze and optimize technical and business processes, ensure solution and operations reliability 
                li Manage and provision the cloud solution infrastructure, implementations of cloud architecture
          .work-each
            p.u-each-title
              span.u-each-organization Trend Micro, Inc. (Taiwan) 
              span.u-each-period 2015.08 ~ 2019.02 
            p.u-each-subtitle Staff Engineer 
            p.work-each-description
              | I joined a department responsible for maintaining the Data Center Service (DCS),
              | and belonged to the team that built/manage the IT infrastructure (1000 physical servers or more, and 5000 VMs or more).
              ul
                li Make the production environment more stable and high avaiable
                li Reduce overall costs of ownership of the infrastructure and better level of services
                li Research and provide better solitions/technical to optimize the production environment

          .work-each
            p.u-each-title
              span.u-each-organization Hitachi Asia (Taiwan) Co., Ltd. 
              span.u-each-period 2008.08 ~ 2015.07
            p.u-each-subtitle Account Manager
            p.work-each-description
              | I work on Hitachi subsidiary in Taiwan, an engineer in the system integration department.
              | After discussing the requirement/problem with the customer, provide the best total solution and perform the PoC.
              ul
                li Survey customer environments and provide the best total solutions/products to meet requirements 
                li Work with customer to investigate incident issues and find out the root cause to resolve problems
                li Introduce and share new IT technology trends to customer on regularly every quarter 
 
          .work-each
            p.u-each-title
              span.u-each-organization Synchronous Communication Corp.
              span.u-each-period 2004.04 ~ 2008.08
            p.u-each-subtitle System Engineer
            p.work-each-description
              | I worked in Network System Integration department and assist in installing/testing the communication network system in Data Center.
              ul
                li Work with the project manager to assist equipments PoC test
                li Routine to on-site for customer communication network equipment maintenance/troubleshooting
                li Build communication network systems for Telecommunications, Financial, Enterprise

          h2.u-section-title Education
          .work-each
            p.u-each-title
              span.u-each-organization Takming University of Science and Technology
              span.u-each-period 2007.08 ~ 2009.06
            p.u-each-subtitle General Bachelor of Information Management in Management Information Systems
            p.work-each-description
              ul
                li Programming
                li System analysis and design
                li Database management system
          
          .work-each
            p.u-each-title
              span.u-each-organization Chienkuo Technology University
              span.u-each-period 1995.08 ~ 2000.06
            p.u-each-subtitle Mechanical Engineering Associate of Mechanical Engineering
            p.work-each-description
              ul
                li Automation and Design
                li Engineering Analysis, Thermal and Fluids

        .six.columns

          .education
            h2.u-section-title Certifications
            ul
              li Google Cloud Certified - Professional Data Engineer (2020)
              li Google Cloud Certified - Professional Cloud Network Engineer (2020)
              li Google Cloud Certified - Professional Cloud Architect (2019)
              li AWS Certified DevOps Engineer - Professional (2019) 
              li AWS Certified Solution Architect - Professional (2019)
              li Red Hat Certified Engineer (2012)
              li Hitachi Data System Storage Foundations - Modular (2012)
              li VMware Certified Professional 5 (2010)
              li Cisco Certified Network Associate (2009)

          .education
            h2.u-section-title Training and Courses
            ul
              li
                span.oss-title Google Cloud Platform 
                p.oss-description - (Coursera: 238FBM8AGFTH) Security in Google Cloud Platform Specialization  
                p.oss-description - (Coursera: G4HNGXV98PAZ) Architecting Hybrid Cloud Infrastructure with Anthos Specialization  
                p.oss-description - (201911) HyBrid Intrasturcture with Anthos - Anthos Training [Tech]  
                p.oss-description - (201911) HyBrid Intrasturcture with Anthos - Anthos Training [Sales]  
                p.oss-description - (Coursera: DWK9XYYUFUYT) Architecting with Google Kubernetes Engine Specialization  
                p.oss-description - (Coursera: CSY644BQG45F) Cloud Architecture with GCP Specialization 
                p.oss-description - (Coursera: FH7D8Q86VH93) Networking in Google Cloud Platform Specialization 
                p.oss-description - (Coursera: SDK8MJYGCNX6) Architecting with Google Compute Engine Specialization 
              li
                span.oss-title Virtualzation
                p.oss-description - VMware vSphere: Optimize and Scale [V6.5]
                p.oss-description - VMware vSphere: Troubleshooting Workshop
                p.oss-description - VMware vSphere: Design and Deploy Fast Track [V6]
                p.oss-description - VMWare vCould Director: Install, Configure, Manage [V5.1]
                p.oss-description - VMWare vSphere: Install, Configure, Manage [V5.1]
              li
                span.oss-title System Administration
                p.oss-description - Red Hat High Availability Clustering (RH436)
                p.oss-description - Red Hat System Administrator I/II/III (RH124/RH134/RH254)
              li
                span.oss-title Storage
                p.oss-description - NetApp Implement VMware vSphere on Data ONTAP
                p.oss-description - NetApp Clustered Data ONTAP Administrator and ONTAP Data Protection
                p.oss-description - Transitioning to Hitachi Virtual Storage Platform G1000 and Command Suit v8.x
                p.oss-description - Managing Storage Performance with Hitachi Tuning Manager Software V6
              li
                span.oss-title Server
                p.oss-description - Installing Configuring and Managing Hitachi Computer Blade 500 and 2000

          .education
            h2.u-section-title Skills
            ul
              li
                span.oss-title Public Cloud 
                p.oss-description - GCP (1 years)
                p.oss-description - AWS (1 years)
              li
                span.oss-title Operation System
                p.oss-description - Linux (15 years)
                p.oss-description - Windows (12 years)
                p.oss-description - vSphere ESXi (8 years)
                p.oss-description - macOS (2 years)
              li
                span.oss-title Programming
                p.oss-description - Linux Shell Script (15 years)
                p.oss-description - PowerShell, PowerCLI (5 years)
                p.oss-description - Python (1 years)
                p.oss-description - PHP/HTML/CSS/JavaScript (2 years)
              li
                span.oss-title Tools
                p.oss-description - Ansible, Dell OpenManage SDK for Ansible (1 year)
                p.oss-description - Terraform (1 year) 
                p.oss-description - GitGub, Gitlab, Jenkins, (1 year)
                p.oss-description - Docker/Container, Kubernetes (1 year)
              li
                span.oss-title Database
                p.oss-description - MySQL (4 years)
                p.oss-description - MSSQL (2 years)

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/neollin
              li https://reverent-pike-ebbd93.netlify.com/
              li https://www.credential.net/profile/hsinlienlin/wallet
    .footer

    script(src='bundle.js')
