doctype html
html(lang='en')
  head
    title Neo_Lin_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Neo Lin
        p.eyecatch-subtitle System Adminisrator 
        p.eyecatch-description
          | Efficient and skilled in managed complex systems environment with a diverse knowledge of IT Infrastructure technologies, 
          | I have been a System Administrator for 15 years. 
          | I have garnered a multitude experiences in the field of Server-side/storage-side/switch-side, automation programming, 
          | best practice tuning, complex systems integration, optimize performance, infrastructure/application monitoring and others.
          | I am also familiar with Infrastructure & DevOps tools such as Ansible, VMware, AWS, CircleCI, GitHub and Docker.
      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Mandarin, English
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +956-287-xxx
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email lalientw@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Taipei, Taiwan
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Trend Micro, Inc. (Taiwan) 
              span.u-each-period 2015.08 ~ Current
            p.u-each-subtitle Staff Engineer 
            p.work-each-description
              | I joined a department responsible for maintaining the Data Center Service (DCS),
              | and belonged to the team that built/manage the IT infrastructure (1000 physical servers or more, and 5000 VMs or more).
              ul
                li Make the production environment more stable and high avaiable
                li Reduce overall costs of ownership of the infrastructure and better level of services
                li Research and provide better solitions/technical to optimize the production environment

          .work-each
            p.u-each-title
              span.u-each-organization Hitachi Asia (Taiwan) Co., Ltd. 
              span.u-each-period 2008.08 ~ 2015.08
            p.u-each-subtitle Account Manager
            p.work-each-description
              | I work on Hitachi subsidiary in Taiwan, an engineer in the system integration department.
              | After discussing the requirement/problem with the customer, provide the best total solution and perform the PoC.
              ul
                li Survey customer environments and provide the best total solutions/products to meet requirements 
                li Work with customer to investigate incident issues and find out the root cause to resolve problems
                li Introduce and share new IT technology trends to customer on regularly every quarter 
 
          .work-each
            p.u-each-title
              span.u-each-organization Synchronous Communication Corp.
              span.u-each-period 2004.04 ~ 2008.08
            p.u-each-subtitle System Engineer
            p.work-each-description
              | I worked in Network System Integration department and assist in installing/testing the communication network system in Data Center.
              ul
                li Work with the project manager to assist equipments PoC test
                li Routine to on-site for customer communication network equipment maintenance/troubleshooting
                li Build communication network systems for Telecommunications, Financial, Enterprise

          h2.u-section-title Education
          .work-each
            p.u-each-title
              span.u-each-organization Takming University of Science and Technology
              span.u-each-period 2007.09 ~ 2009.09
            p.u-each-subtitle General Bachelor of Information Management in Management Information Systems
            p.work-each-description
              ul
                li Programming
                li System analysis and design
                li Database management system
          
          .work-each
            p.u-each-title
              span.u-each-organization Chienkuo Technology University
              span.u-each-period 1995.09 ~ 2000.09
            p.u-each-subtitle Mechanical Engineering Associate of Mechanical Engineering
            p.work-each-description
              ul
                li Automation and Design
                li Engineering Analysis, Thermal and Fluids

        .six.columns

          .education
            h2.u-section-title Certifications
            ul
              li AWS Certified Solution Architect - Professional (2019)
              li Red Hat Certified Engineer (2012)
              li Hitachi Data System Storage Foundations - Modular (2012)
              li VMware Certified Professional 5 (2010)
              li Cisco Certified Network Associate (2009)

          .education
            h2.u-section-title Training and Courses
            ul
              li
                span.oss-title Virtualzation
                p.oss-description - VMware vSphere: Optimize and Scale [V6.5]
                p.oss-description - VMware vSphere: Troubleshooting Workshop
                p.oss-description - VMware vSphere: Design and Deploy Fast Track [V6]
                p.oss-description - VMWare vCould Director: Install, Configure, Manage [V5.1]
                p.oss-description - VMWare vSphere: Install, Configure, Manage [V5.1]
              li
                span.oss-title System Administration
                p.oss-description - Red Hat High Availability Clustering (RH436)
                p.oss-description - Red Hat System Administrator I/II/III (RH124/RH134/RH254)
              li
                span.oss-title Storage
                p.oss-description - NetApp Implement VMware vSphere on Data ONTAP
                p.oss-description - NetApp Clustered Data ONTAP Administrator and ONTAP Data Protection
                p.oss-description - Transitioning to Hitachi Virtual Storage Platform G1000 and Command Suit v8.x
                p.oss-description - Managing Storage Performance with Hitachi Tuning Manager Software V6
              li
                span.oss-title Server
                p.oss-description - Installing Configuring and Managing Hitachi Computer Blade 500 and 2000

          .education
            h2.u-section-title Skills
            ul
              li
                span.oss-title Operation System
                p.oss-description - Linux (15 years)
                p.oss-description - Windows (12 years)
                p.oss-description - vSphere ESXi (8 years)
                p.oss-description - macOS (2 years)
              li
                span.oss-title Programming
                p.oss-description - Linux Shell Script (15 years)
                p.oss-description - PowerShell, PowerCLI (5 years)
                p.oss-description - Python (1 years)
                p.oss-description - PHP/HTML/CSS/JavaScript (2 years)
              li
                span.oss-title Tools
                p.oss-description - Ansible, Dell OpenManage SDK for Ansible (1 year)
                p.oss-description - AWS, Azure (1 year)
                p.oss-description - GitGub, CircleCI (1 year)
                p.oss-description - Docker/Container (1 year)
              li
                span.oss-title Database
                p.oss-description - MySQL (4 years)
                p.oss-description - MSSQL (2 years)

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/neollin
              li https://reverent-pike-ebbd93.netlify.com/
    .footer

    script(src='bundle.js')
